asgiref==3.8.1
coverage==5.5
crispy-bootstrap5==2025.4
deprecation==2.1.0
diff-match-patch==20241021
Django==5.1.6
django-bootstrap5==25.1
django-crispy-forms==2.4
django-import-export==4.3.7
django-unfold==0.54.0
eyed3==0.9.7
filetype==1.2.0
gunicorn
packaging==25.0
pillow==11.1.0
sqlparse==0.5.3
tablib==3.8.0
toml==0.10.2
tzdata==2025.1
whitenoise==6.9.0
